aiohttp==3.9.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cyac==1.9
Cython==3.0.4
dataclasses-json==0.6.4
dbus-python==1.2.18
exceptiongroup==1.2.0
fastapi==0.109.1
filelock==3.13.4
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.1.1
GPUtil==1.4.0
greenlet==3.0.3
h11==0.14.0
huggingface-hub==0.17.3
idna==3.7
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.322
langsmith==0.0.92
lm-dataformat==0.0.20
marshmallow==3.21.1
midi2audio==0.1.1
mido==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.2
pillow==10.3.0
psutil==5.9.6
pydantic==2.4.2
pydantic-settings==2.2.1
pydantic_core==2.10.1
PyGObject==3.42.1
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
python-dotenv==1.0.1
python-multipart==0.0.7
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rwkv==0.8.25
safetensors==0.4.0
sniffio==1.3.1
SQLAlchemy==2.0.29
sse-starlette==1.6.5
starlette==0.35.1
tenacity==8.2.3
tiktoken==0.5.1
tokenizers==0.14.1
torch==1.13.1
torch-directml==0.1.13.1.dev230413
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.11.0
ujson==5.9.0
urllib3==2.2.1
uvicorn==0.23.2
wcwidth==0.2.13
yarl==1.9.4
zstandard==0.22.0
